@model List<Product>

<div class="d-flex position-relative">
    @Html.Partial("~/Views/Home/Nav.cshtml")
    <div class="container d-content py-5">
        <div class="d-flex flex-wrap justify-content-center m-0 content">
            @foreach (var item in Model)
            {
                @using (Html.BeginForm("AddToBasket", "Home", FormMethod.Post, new { id = item.ProductId }))
                {
                    @Html.Hidden("id", @item.ProductId)
                    <div class="column d-flex flex-column justify-content-between">
                        <figure class="figure d-flex justify-content-center align-items-center">
                            <img src="@item.ImageUrl" class="prod-img" />
                        </figure>
                        <div class="product-details p-3 w-100">
                            <h3>@item.Title</h3>
                            <div class="description">
                                <p class="">@item.MinDescription</p>
                            </div>
                            <p class="Price">@item.Price$</p>
                            <div class="product-buttons d-flex justify-content-between align-items-center">
                                <div>
                                    <a asp-action="Index" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-primary">
                                        View Product
                                    </a>
                                </div>
                                <button type="submit" class="fa-solid fa-cart-shopping fa-lg svg" id="addToBasketButton" style="cursor:pointer"></button>
                            </div>
                        </div>
                    </div>
                }


            }
        </div>
    </div>


</div>
